<!-- <h1>normal binding</h1>
<input type="text" value="1"><br>

<h1>Interpolation binding</h1>
<input type="text" value="{{saver}}"><br>

<h1>property binding</h1>
<input type="text" [value]="saver"><br>

<h1>event binding</h1>
<button (click)="binding()">Event</button>

<h1>two way binding</h1>
<input type="text" [(ngModel)]="saver">

<h1>Angular Directives</h1>
<div *ngIf = "showusers">
<h1 *ngFor= "let user of users">{{user.name}}</h1>
</div> -->

<h1>child 1</h1>
<h2>The child count is <span>{{counter}}</span></h2>